doctype html
html
  head
    script(src="js/jquery.js")
    script(src="js/webpd-latest.js")
    script(src="js/util.js")
    link(rel="stylesheet", href="stylesheets/style.css")
    title Pure Data Final
  body
    h3 Test osc~
    fieldset
      input(type="text", placeholder="Frequency", id="inputFreq")
      button(id="buttonOsc") Start
    h3 Test adc~
    fieldset
      button(id="buttonAdc") Start
    h2 Effect Rack
    button(id="buttonEffectRack") Start Effect Rack
    button(id="buttonClearEffectRack") Clear Effect Rack
    div Gain
      input(type="range", min="0", max="100", value="100", id="inputGain")
    fieldset
      input(type="text", placeholder="Delay Time (0 - 1000 ms)", id="inputDelayDelayTime")
      input(type="text", placeholder="Feedback Gain (0 - 100 percent)", id="inputDelayFeedbackGain")
      button(id="buttonAddDelay") Add Delay
    fieldset
      input(type="text", placeholder="Cutoff (0 - 500 pitch units)", id="inputBpCutoff")
      input(type="text", placeholder="Q (0 - 100)", id="inputBpQ")
      button(id="buttonAddBp") Add Bp
    fieldset
      input(type="text", placeholder="Level (0 - 100 percent)", id="inputNoiseLevel")
      button(id="buttonAddNoise") Add Noise
    div(id="effectRack")
  script(src="js/effects.js")
  script(src="js/effect-rack.js")
  script(src="js/testing.js")
  script(src="js/global.js")
  