extends ./layout.jade

block title
  title Pure Data Final | Show Patches

block preLoad
  script(src="../js/jquery.js")
  script(src="../js/webpd-latest.js")
  script(src="../js/util.js")
  script(src="../js/pd-fileutils-latest.js")
  link(rel="stylesheet", href="../stylesheets/global.css")
  link(rel="stylesheet", href="../stylesheets/patches.css")

block content
  div(class="row")
    div(id="used-patches", class="col-md")
      p Patches used in the effect rack
      div(id="button-wrapper")
        button(id="showDelay") delayAbs~
        button(id="showBp") bpAbs~
        button(id="showNoise") noiseAbs~
    div(id="unused-patches", class="col-md") 
      p Patches not used in the effect rack*
      div(id="button-wrapper")
        button(id="showOctave") octaveAbs~
        button(id="showReverb") reverbAbs~
        button(id="showShaker") shakerAbs~
  div(id="svg")
  p(id="asterisk", class="text-muted") *WebPD supports #[a(href="https://github.com/sebpiq/WebPd/blob/master/OBJECTLIST.md") a limited set of PD objects], making the following patches unviable

block postLoad
  script(src="../js/patches.js")
