extends ./layout.jade

block title
  title Pure Data Final | Testing

block preLoad
  script(src="../js/jquery.js")
  script(src="../js/webpd-latest.js")
  script(src="../js/util.js")
  link(rel="stylesheet", href="../stylesheets/global.css")
  link(rel="stylesheet", href="../stylesheets/testing.css")

block content
  div(class="row")
    div(id="testOsc", class="col-md")
      h3 Test osc~
      fieldset
        input(type="text", placeholder="Frequency", id="inputFreq")
        button(id="buttonOsc") Start
    div(id="testAdc", class="col-md")
      h3 Test adc~
      fieldset
        button(id="buttonAdc") Start

block postLoad
  script(src="../js/testing.js")
